@model IEnumerable<SearchResult> 
@{
    ViewBag.Title = "Results";
}
<h2>@ViewBag.Title for <div style="color:#ff0000"> @ViewBag.query</div></h2>
<h3>@ViewBag.Message</h3>

<ol>
    @foreach (var result in Model)
    {
        <li>
            <b>@result.Name</b>
            <br />
            <a href="@result.Link">@result.Link</a> 
        </li>

    }
</ol>